apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: nasted1/btc-worker:v4
        env:
        - name: MONGO_URI
          value: "mongodb://mongo:27017"
        - name: MONGO_DB_NAME
          value: "btc_db"