stages: [build, test]

variables:
  DOCKER_TLS_CERTDIR: ""

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  script:
    - docker build -t crypto/ingestor-service:$CI_COMMIT_SHORT_SHA ./services/ingestor-service
    - docker build -t crypto/detector-service:$CI_COMMIT_SHORT_SHA ./services/detector-service
    - docker build -t crypto/api-service:$CI_COMMIT_SHORT_SHA ./services/api-service
    - docker build -t crypto/web-frontend:$CI_COMMIT_SHORT_SHA ./web-frontend

smoke_test:
  stage: test
  image: docker:24
  services:
    - docker:24-dind
  script:
    - cp .env.example .env
    - docker compose up -d --build
    - sleep 10
    - docker compose exec -T api-service wget -qO- http://localhost:8000/healthz
    - docker compose exec -T api-service wget -qO- http://localhost:8000/version
    - docker compose down -v
