version: '3.8'

services:
  #MONGO
  mongo:
    image: mongo:latest
    container_name: btc-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  #API
  api:
    build: ./services/api-service
    container_name: btc-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB_NAME=btc_db
      - PORT=3000
    depends_on:
      mongo:
        condition: service_healthy

  #WORKER
  worker:
    build: ./services/worker-service
    container_name: btc-worker
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB_NAME=btc_db
    depends_on:
      mongo:
        condition: service_healthy

  # FRONTEND 
  frontend:
    build: ./services/frontend-service
    container_name: btc-frontend
    ports:
      - "80:80"

volumes:
  mongo-data: